.app-content {
    max-width: 1450px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.form-content {
    width: 30%;
}

.table-content {
    min-width: 70%;
}

@media (max-width: 850px) {
    .app-content {
        flex-direction: column;
        padding: 10px;
    }
    .form-content {
        width: 100%;
    }
    .table-content {
        width: 100%;
    }
}
